%div{ :id => dom_id(@publication), :class => "publication" }
  - bitlyurl = @publication.bitly_url
  - total_pages = @publication.pages.count
  #infobox{ :class => "shadow" }
    #logo
      %a{ :href => root_path, :target => "_blank" }= WhiteLabel.config.name_for_preview
    #index
      - if current_user == @publication.user
        %a{ :href => edit_publication_path( :id => @publication.uuid), :target => "_blank" } [e]
        \&nbsp;
      - if total_pages > 1
        - @publication.pages.each_with_index do |_,idx|
          %a{ :href => "#page%02d" % (idx+1) }
            = "[%d]" % (idx+1)
    #facebooklink
      - if bitlyurl
        %a{ :href => "http://www.facebook.com/sharer.php?u=%s" % CGI.escape(bitlyurl), :target => "_blank" }
          %img.facebook{ :src => "/images/facebook.png", :height => "24", :width => "24" }
    #twitterlink
      - if bitlyurl
        %a{ :href => "http://twitter.com/home?status=%s" % CGI.escape("Find my new publication at %s" % bitlyurl), :target => "_blank" }
          %img.twitter{ :src => "/images/twitter.png", :height => "22", :width => "22" }
    #page_url
      - if bitlyurl
        %a.url{ :href => bitlyurl }= bitlyurl.gsub(/^https?:\/\//,'')
  %span{ :class => "spacer" }
  - @publication.pages.each_with_index do |page, idx|
    %a{ :name => "page%02d" % (idx+1) }
    %div{ :id => dom_id(page), :class => "#{page.css_class} shadow", :style => page.css_style }
      - page.page_elements.each do |page_element|
        = render :partial => "page_element", :locals => { :page_element => page_element }
    - if total_pages > 1
      %div{ :class => class_for_page_number(idx, total_pages) }
        #page_number
          = "Page #{idx+1} of #{total_pages}"
