%div{ :id => dom_id(@publication), :class => "publication" }
  - pubuuid = @publication.uuid
  - bitlyurl = @publication.bitly_url
  - total_pages = @publication.pages.count
  #infobox{ :class => "shadow" }
    #logo
      %a{ :href => root_path }= WhiteLabel.config.name_for_preview
    #index
      = render :partial => "publications/show_pub_copies"
      = render :partial => "publications/show_edit_buttons", :locals => { :pubuuid => pubuuid }
      = render :partial => "publications/show_pub_index", :locals => { :total_pages => total_pages }
    #facebooklink
      - if bitlyurl
        %a{ :href => "http://www.facebook.com/sharer.php?u=%s" % CGI.escape(bitlyurl), :target => "_blank" }
          %img.facebook{ :src => "/images/facebook.png", :height => "24", :width => "24" }
    #twitterlink
      - if bitlyurl
        %a{ :href => "http://twitter.com/home?status=%s" % CGI.escape("Find my new publication at %s" % bitlyurl), :target => "_blank" }
          %img.twitter{ :src => "/images/twitter.png", :height => "22", :width => "22" }
    #page_url
      - if bitlyurl
        %a.url{ :href => bitlyurl }= bitlyurl.gsub(/^https?:\/\//,'')
  %span{ :class => "spacer" }
  - @publication.pages.sort_by(&:number).each_with_index do |page, idx|
    %a{ :name => "page%02d" % (idx+1) }
    %div{ :id => dom_id(page), :class => "#{page.css_class} #{@publication.has_shadow? ? 'page_shadow' : ''}", :style => page.css_style }
      - page.page_elements.each do |page_element|
        = render :partial => "publications/page_element", :locals => { :page_element => page_element, :page_num => idx+1 }
    - if total_pages > 1 && !@publication.is_continous?
      %div{ :class => class_for_page_number(idx, total_pages) }
        #page_number
          = "Page #{idx+1} of #{total_pages}"
