%div{ :id => dom_id(@publication), :class => "publication" }
  #infobox{ :class => "shadow" }
    #logo
      %a{ :href => "http://pubme.2monki.es", :target => "_blank" }
        PublishMe
    #index
      Page
      - @publication.pages.each do |page|
        %a.page_number{ :href => "#%dpage" % page.number }
          = "%d" % page.number
    #facebooklink
      %a{ :href => "http://www.facebook.com/sharer.php?u=%s" % CGI.escape(@publication.bitly_url) }
        %img.facebook{ :src => "/images/facebook.png", :height => "24", :width => "24" }
    #twitterlink
      %a{ :href => "http://twitter.com/home?status=%s" % CGI.escape("Find my new publication at %s" % @publication.bitly_url) }
        %img.twitter{ :src => "/images/twitter.png", :height => "22", :width => "22" }
    #page_url
      %a.url{ :href => @publication.bitly_url }
        = @publication.bitly_url
  %span{ :class => "spacer" }
  - total_pages = @publication.pages.count
  - @publication.pages.each do |page|
    %a{ :name => "#{page.number}page" }
    %div{ :id => dom_id(page), :class => "page_a4 shadow" }
      - page.page_elements.each do |page_element|
        = render :partial => "page_element", :locals => { :page_element => page_element }
    #page_number
      = "Page #{page.number} of #{total_pages}"
