#explanation
  %h3
    %span Social Publishing
  %p.p1
    %span
  %p.p2
    %span
#participation
  %h3
    %span Participation
  %p.p1
    %span
      Graphic artists only please. You are modifying this page, so strong
      %acronym{:title => "Cascading Style Sheets"} CSS
      skills are necessary, but the example files are commented well enough that even
      %acronym{:title => "Cascading Style Sheets"} CSS
      novices can use them as starting points. Please see the
      %a{:href => "http://www.mezzoblue.com/zengarden/resources/", :title => "A listing of CSS-related resources"}
        %acronym{:title => "Cascading Style Sheets"} CSS
        Resource Guide
      for advanced tutorials and tips on working with
      = succeed "." do
        %acronym{:title => "Cascading Style Sheets"} CSS
  %p.p2
    %span
      You may modify the style sheet in any way you wish, but not the
      = succeed "." do
        %acronym{:title => "HyperText Markup Language"} HTML
      This may seem daunting at first if you’ve never worked this way before, but follow the listed links to learn more, and use the sample files as a guide.
  %p.p3
    %span
      Download the sample
      %a{:href => "zengarden-sample.html", :title => "This page's source HTML code, not to be modified."} html file
      and
      %a{:href => "zengarden-sample.css", :title => "This page's sample CSS, the file you may modify."} css file
      to work on a copy locally. Once you have completed your masterpiece (and please, don’t submit half-finished work) upload your .css file to a web server under your control.
      %a{:href => "http://www.mezzoblue.com/zengarden/submit/", :title => "Use the contact form to send us your CSS file"} Send us a link
      to the file and if we choose to use it, we will spider the associated images. Final submissions will be placed on our server.
#benefits
  %h3
    %span Benefits
  %p.p1
    %span
      Why participate? For recognition, inspiration, and a resource we can all refer to when making the case for
      = succeed "-based" do
        %acronym{:title => "Cascading Style Sheets"} CSS
      design. This is sorely needed, even today. More and more major sites are taking the leap, but not enough have. One day this gallery will be a historical curiosity; that day is not today.
#requirements
  %h3
    %span Requirements
  %p.p1
    %span
      We would like to see as much
      %acronym{:title => "Cascading Style Sheets, version 1"} CSS1
      as possible.
      %acronym{:title => "Cascading Style Sheets, version 2"} CSS2
      should be limited to widely-supported elements only. The css Zen Garden is about functional, practical
      %acronym{:title => "Cascading Style Sheets"} CSS
      and not the latest bleeding-edge tricks viewable by 2% of the browsing public. The only real requirement we have is that your
      %acronym{:title => "Cascading Style Sheets"} CSS
      validates.
  %p.p2
    %span
      Unfortunately, designing this way highlights the flaws in the various implementations of
      = succeed "." do
        %acronym{:title => "Cascading Style Sheets"} CSS
      Different browsers display differently, even completely valid
      %acronym{:title => "Cascading Style Sheets"} CSS
      at times, and this becomes maddening when a fix for one leads to breakage in another. View the
      %a{:href => "http://www.mezzoblue.com/zengarden/resources/", :title => "A listing of CSS-related resources"} Resources
      page for information on some of the fixes available. Full browser compliance is still sometimes a pipe dream, and we do not expect you to come up with pixel-perfect code across every platform. But do test in as many as you can. If your design doesn’t work in at least IE5+/Win and Mozilla (run by over 90% of the population), chances are we won’t accept it.
  %p.p3
    %span We ask that you submit original artwork. Please respect copyright laws. Please keep objectionable material to a minimum; tasteful nudity is acceptable, outright pornography will be rejected.
  %p.p4
    %span
      This is a learning exercise as well as a demonstration. You retain full copyright on your graphics (with limited exceptions, see
      = succeed ")," do
        %a{:href => "http://www.mezzoblue.com/zengarden/submit/guidelines/"} submission guidelines
      but we ask you release your
      %acronym{:title => "Cascading Style Sheets"} CSS
      under a Creative Commons license identical to the
      %a{:href => "http://creativecommons.org/licenses/sa/1.0/", :title => "View the Zen Garden's license information."} one on this site
      so that others may learn from your work.
  %p.p5
    %span
      Bandwidth graciously donated by
      %a{:href => "http://www.dreamfirestudios.com/"} DreamFire Studios
