#pageHeader
  %h1
    %span 
      %a{ :href => "/" }= WhiteLabel.config.name
  %h2
    %span= WhiteLabel.config.tagline
      
#quickSummary
  %p.p1
    %span= WhiteLabel.config.quick_summary
  %p.p2
    %span.button_bar
      - if user_signed_in?
        - if current_user.facebook_connected?
          = facebook_sign_out_link({ :size => "small", :button => false, :autologoutlink => "true" })
        - else
          %a{:href => destroy_user_session_path, :title => "Logout"} Logout
        |
        %a{:href => user_publications_path, :title => "My Publications"} My #{WhiteLabel.config.publication.desc.pluralize}
        |
        %a{:href => publication_details_path, :title => "New Publication", :onclick => "setDpi(this);"} New #{WhiteLabel.config.publication.desc}
      - else
        = facebook_sign_in_link({ :size => "small", :button => false, :autologoutlink => "true", :perms => "user_photos" })
        %a.twitter_login{:href => user_sign_in_twitter_path, :title => "Twitter Login"} 
          %img.twitter_login{ :src => '/images/twitter_sign_in.png' }
#preamble
  %p{ :class => "notice" }= notice
  %p{ :class => "alert" }= alert
