#pageHeader
  %h1
    %span 
      %a{ :href => "/" }= WhiteLabel.config.name
  %h2
    %span= WhiteLabel.config.tagline
      
#quickSummary
  %p.p2
    %span.button_bar
      - fbhsh = { :size => "small", :button => false, :autologoutlink => "true", :perms => ApiKeys.facebook.requested_scope }
      - if user_signed_in?
        - if current_user.facebook_connected?
          %a{ :href => current_user.link_to_home } My Facebook Profile
          |
          = facebook_sign_out_link(fbhsh)
        - else
          - if current_user.twitter_handle
            %a{ :href => current_user.link_to_home }= current_user.twitter_handle
          - else
            Logged in Anonymously
          |
          %a{:href => destroy_user_session_path, :title => "Logout"} Logout
        |
        %a{:href => user_publications_path, :title => "My #{WhiteLabel.config.publication.desc}"} My #{WhiteLabel.config.publication.desc.pluralize}
        |
        %a{:href => publication_details_path, :title => "New #{WhiteLabel.config.publication.desc}", :onclick => "setDpi(this);"} New #{WhiteLabel.config.publication.desc}
      - else
        = facebook_sign_in_link(fbhsh)
        %a.twitter_login{:href => user_sign_in_twitter_path, :title => "Twitter Login"} 
          %img.twitter_login{ :src => '/images/twitter_sign_in.png' }
        |
        %a{:href => anonymous_sign_in_path, :title => "Anonymous Sign in"} Login
        |
        %a{:href => new_for_anonymous_user_path, :title => "Create #{WhiteLabel.config.publication.desc}"} Create #{WhiteLabel.config.publication.desc}
#preamble
  %p.notice= notice
  %p.alert= alert
