!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => :en,  :lang => :en }
  %head
    %meta{:content => "text/html; charset=iso-8859-1", "http-equiv" => "content-type"}/
    %meta{:content => "IE=EmulateIE7", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %title= WhiteLabel.config.editor.title + (@publication.nil? ? "" : " - " + @publication.name)
    = javascript_include_tag :defaults
    = javascript_include_tag "http://connect.facebook.net/en_US/all.js"
    = stylesheet_link_tag "editor"
    = csrf_meta_tag
  %body
    = yield
