!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => :en,  :lang => :en }
  %head
    %meta{:content => "text/html; charset=iso-8859-1", "http-equiv" => "content-type"}/
    %meta{:content => "IE=EmulateIE7", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %title= "New #{WhiteLabel.config.publication.desc}"
    = stylesheet_link_tag "pubform", :media => :all
    = stylesheet_link_tag "application", :media => :all
    = javascript_include_tag :defaults
  %body
    #dpi_sample
    #container{ :class => "shadow" }
      #intro
        = render :partial => 'common/intro'
      #supportingText
        = yield
        #footer
          = render :partial => 'common/footer'
        #capp_logo
          %a{ :href => "http://cappuccino.org", :target => '_blank' }
            %img{ :src => "/images/poweredByCappuccinoGray.png", :width => 205, :height => 37 }
    = facebook_root_tag
    = facebook_javascript_include_tag
