!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => :en,  :lang => :en }
  %head
    %meta{:content => "text/html; charset=iso-8859-1", "http-equiv" => "content-type"}/
    %meta{:content => "IE=EmulateIE7", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %title= @publication.uuid
    = stylesheet_link_tag "publication"
    = javascript_include_tag :defaults
    :javascript
      FacebookApiId = "#{ApiKeys.facebook.api_id}";
  %body
    = yield
    #fb-root
    = javascript_include_tag 'facebook'
